@charset "utf-8";

body {
    display: flex;
}

.java_wrap {
    background-color: #f0bf20;
    ;
}

.jquery_wrap{
    background-color:#b1cfe4;
}

div {
    width: 50%; padding: 0px 10px ;
}

div img {height: 70px;
    display: block;
    margin: 0px auto;
}

div dl {
    line-height: 30px;
    ;
    margin: 10px 0px;
    background-color: #fff;
}

dl dt {
    margin-left: 2%;
}

/* dl dt::after {width: 220px; height:5px;color: #f00;content:"";left:0px; }*/

dl dd  a{
    text-indent: 3%;
    display: block;
}

dl dd :hover {
    color: #f0bf20;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #333;
}